:root {
--primary-text-color: #434455;
--secondary-text-color: #2E2F42;
--background-color: #ffffff;
--change-color-link: #4D5AE5;
--change-color-button: #404BBF;
--secondary-background-color: #F4F4FD;
--third-text-color: #E7E9FC;
}

body {
    color:var(--primary-text-color);
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
}

.list {
    list-style-type: none;  
    padding: 0;
    margin: 0;  
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-no-padding {
    padding-top: 0px;
}

/* Навигация */
.navigation-link {
    color: var(--secondary-text-color); 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--change-color-link);
}

/* Контакты навигации */
.contacts-link {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    font-style: normal;
}
.contacts-link:hover,
.contacts-link:focus {
    color: var(--change-color-link);
}

/* Секция hero */
.hero {
    background-color: var(--secondary-text-color);

}
.hero-title {
    margin-top: 0px;
    margin-bottom: 48px;
    color: var(--background-color);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}

.hero-button {
    background-color: var(--change-color-link);
    color: var(--background-color);
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 16px 32px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--change-color-button);
}

/* Секция слоган */
.slogan-list-title {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 0px;
    margin-bottom: 8px;
}

.slogan-text {
    font-size: 16px;
    line-height: 1.5;
    margin: 0px;
}

.slogan-list {
    list-style-type: none;
}

/* Секция примеры работ */
.works-title {
    color: var(--secondary-text-color);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 72px;
}

/* Секция наша команда */
.team-title {
    color: var(--secondary-text-color);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 72px;
}

.team-list-title {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 32px;
    margin-bottom: 8px;
}

.team-list-text {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 0px;
}

.team {
    background-color: var(--secondary-background-color);
}

/* Подвал */
.about {
    background-color: var(--secondary-text-color);
    
}

.about-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-container-text {
    color: var(--third-text-color);
    font-size: 16px;
    line-height: 1.5;
    margin-top: 16px;
}

/* Портфолио-примеры работ */
.examples-title {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 32px;
    margin-bottom: 8px;
}

.examples-text {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Кнопки (портфолио) */
.portfolio-button {
    background-color: var(--third-text-color);
    color: var(--change-color-link);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 12px 24px;
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--change-color-button);
    color: var(--background-color);
}

/* Логотип */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--change-color-link);
    letter-spacing: 0.03em
}

.logo-studio {
    color: var(--secondary-text-color);
}

.logo-studio-footer {
    color: var(--secondary-background-color);
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
}